---
services:
  mariadb:
    image: mariadb:10
    environment:
      MYSQL_ROOT_PASSWORD: shhh
      MYSQL_DATABASE: main

  postgres:
    image: postgres:14
    environment:
      POSTGRES_PASSWORD: shhh
      POSTGRES_DB: main

  bootstrap:
    image: restic-scheduler
    entrypoint: /bootstrap-tests.sh
    environment:
      MYSQL_HOST: mariadb
      MYSQL_USER: root
      MYSQL_PWD: shhh
      PGSQL_HOST: postgres
      PGSQL_USER: postgres
      PGSQL_PASS: shhh
    volumes:
      - ./bootstrap-tests.sh:/bootstrap-tests.sh
      - ./data:/data

  db-wait:
    image: restic-scheduler
    entrypoint: /db-wait.sh
    environment:
      MYSQL_HOST: mariadb
      MYSQL_USER: root
      MYSQL_PWD: shhh
      PGSQL_HOST: postgres
      PGSQL_USER: postgres
      PGSQL_PASS: shhh
    volumes:
      - ./db-wait.sh:/db-wait.sh

  main:
    image: restic-scheduler
    environment:
      MYSQL_HOST: mariadb
      MYSQL_USER: root
      MYSQL_PWD: shhh
      PGSQL_HOST: postgres
      PGSQL_USER: postgres
      PGSQL_PASS: shhh
    volumes:
      - ./repo:/repo
      - ./data:/data
      - ./test-backup.hcl:/test-backup.hcl

  validate:
    image: restic-scheduler
    entrypoint: /validate-tests.sh
    environment:
      MYSQL_HOST: mariadb
      MYSQL_USER: root
      MYSQL_PWD: shhh
      PGSQL_HOST: postgres
      PGSQL_USER: postgres
      PGSQL_PASS: shhh
    volumes:
      - ./validate-tests.sh:/validate-tests.sh
      - ./data:/data
